@model IEnumerable<Order>                    

<div class="in-tab">
    <table class="order-list">
        <tr>
            <th>Номер заказа</th>
            <th>Дата</th>
            <th>Количество товаров</th>
            <th>Вес</th>
            <th>Стоимость товаров</th>
            <th>Доставка</th>
            <th>Всего</th>
        </tr>
        @foreach(var order in Model)
    {
        <tr>
            <td><a href="/cabinet?view=orders&id=@order.ID">@order.OrderNumber</a></td>
            <td>@order.CreateDate.ToString("d MMMMM yyyy, HH:mm")</td>
            <td>@order.OrderedProducts.Count</td>
            <td>@order.SummaryBookWeight</td>
            <td>@order.TotalSum.ToString("f1")</td>
            <td>@order.OrderDetail.DeliveryCost.ToString("f1")</td>
            <td>@((order.TotalSum+order.OrderDetail.DeliveryCost).ToString("f1"))</td>
            
        </tr>
    }
    </table>
 
</div>
