@model UserProfile
@{
    ViewBag.Title = "Редактирование данных пользователя";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Header
{
    Редактирование данных пользователя &laquo;@(Model.FullName.IsNullOrEmpty() ? "" : "{0}".FormatWith(Model.FullName))&raquo;
}
@section Description
{
На этой странице вы можете отредактировать всю информацию, связанную с выбранным пользователем
}
@section LeftTab
{
    <div class="controls">
        <div class="sidebarMenuHolder" style="">
            <div class="JStree">
                <div id="tree"></div>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm())
{
    @Html.Partial("MessageBox")    
    <div class="form-legend">Данные пользователя:</div>
    <div class="control-group row-fluid">
        <div class="span3">
            @Html.LabelFor(model => model.Login, new { @class = "control-label" })
        </div>
        <div class="span9" @(!Model.UserID.IsEmpty() ? "locked" : "")>
            <div class="controls">


                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>
    </div>


    <div class="control-group row-fluid">
        <div class="span3">

            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
        </div>
        <div class="span9">
            <div class="controls">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>

    <div class="control-group row-fluid">
        <div class="span3">

            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        </div>
        <div class="span9">
            <div class="controls">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.UserID)

    <div class="control-group row-fluid">
        <div class="span3">

            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        </div>
        <div class="span9">
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    </div>

    <div class="control-group row-fluid">
        <div class="span3">

            @Html.LabelFor(model => model.Surname, new { @class = "control-label" })
        </div>
        <div class="span9">
            <div class="controls">
                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>
    </div>

    <div class="control-group row-fluid">
        <div class="span3">

            @Html.LabelFor(model => model.Patrinomic, new { @class = "control-label" })
        </div>
        <div class="span9">
            <div class="controls">
                @Html.EditorFor(model => model.Patrinomic)
                @Html.ValidationMessageFor(model => model.Patrinomic)
            </div>
        </div>
    </div>

    <div class="control-group row-fluid">
        <div class="span3">

            @Html.LabelFor(model => model.HomePhone, new { @class = "control-label" })
        </div>
        <div class="span9">
            <div class="controls">
                @Html.EditorFor(model => model.HomePhone)
                @Html.ValidationMessageFor(model => model.HomePhone)
            </div>
        </div>
    </div>

    <div class="control-group row-fluid">
        <div class="span3">

            @Html.LabelFor(model => model.MobilePhone, new { @class = "control-label" })
        </div>
        <div class="span9">
            <div class="controls">
                @Html.EditorFor(model => model.MobilePhone)
                @Html.ValidationMessageFor(model => model.MobilePhone)
            </div>
        </div>
    </div>

    <div class="control-group row-fluid">
        <div class="span3">
            <label class="control-label">Укажите тип пользователя</label>
        </div>
        <div class="span9">
            <div class="controls">
                <br />
                <div class="cbxList">
                    @foreach (var role in Model.RolesList)
                    {
                        <label for="@role.RoleName">
                            @Html.CheckBox(role.RoleName, role.Selected)
                            @role.RoleName</label>
                            
                    }
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="control-group row-fluid">
        <div class="controls">
            <div class="span12">
                <input type="submit" value="Сохранить изменения" class="btn" />
                <div class="backref">
                    @Html.ActionLinkQuery("Назад к списку", "Index", "Users", new[] { "role", "query", "page" })
                </div>

            </div>
        </div>
    </div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $().ready(function () {
            $('.locked input').attr('disabled', 'disabled');
        })
    </script>
}
